@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Exo:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@media (min-width: 768px) {
.col-md-3 {
    float: left;
    width: 25%;
    max-width: 100%;
  }
}

/*-------------------------- body padding --------------*/
body {
   padding-top: 55px;  
}

.gap{
   margin-top: 55px;
}

.row{
   padding: 10px;
}

.col-md-3 .col-sm-6 {
   margin: 2px;
}

/*----------------------------------------Text-------------*/
.color-wht {
   color: #fff;
}

.center-text {
   text-align: center;
   color: brown;
}

/* Always set the map height explicitly to define the size of the div
    * element that contains the map. */
#map {
    height: 100%;    
}

html, body {
   height: 100%;
   margin: 0;
    
}

/*--------------------------content wrapper--------------------*/
.text-wrapper {
   padding: 10px 10px 10px 16px;
   background: #fff;
   border: 1px solid #d0d0ce;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   min-height: 230px;
   width: 100%;
}

.text-wrapper-join {
   padding: 10px 10px 10px 16px;
   background: #fff;
   border: 1px solid #d0d0ce;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   min-height: 300px;
   width: 100%;
}

/*-------------------------------------------images-------------*/
.icon-img {
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
   padding-bottom: 15px;
}

.panel {
   padding: 0 18px;
   display: none;
   background-color: white;
   overflow: hidden;
}

/*---------------------------------------Footer-------------------*/
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgb(224, 97, 97);
   color: white;
   text-align: center;
}

footer {
   text-align: center;
   padding: 3px;
   background-color: DarkSalmon;
   color: white;
}

/*-------------------------------contact form--------------------*/
.center-form {
    padding-top: 10px;
    padding-bottom: 30px;
    margin: 0 auto;
    max-width: 70%;
}


